<div class="row">
  <div class="col">
    <main class="d-flex justify-content-center align-items-center ">
      <div class="card w-50  shadow-lg  rounded  mt-3 text-bg-dark" style="width: 18rem;">
        <img src="../../../assets/img/home-image.svg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Help Desk</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt harum cumque quo
            labore,
            repellat, numquam ab cum sed minus blanditiis praesentium rem. Pariatur autem voluptas inventore minus!
            Temporibus, fugiat vero.</p>
        </div>
      </div>
    </main>
  </div>
</div>